In [39]:
# Import Dependencies
import os
import csv
import pandas as pd
import numpy as np

In [40]:
# Create reference to CSV file
Pypoll = "election.csv"
print(Pypoll)

election.csv

In [41]:
# Import the election.csv into a pandas DataFrame
election_df = pd.read_csv(Pypoll)
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [42]:
# 1) The total number of votes cast by using describe to get summary of count
election_df["Candidate"].describe()

count     3521001
unique          4
top          Khan
freq      2218231
Name: Candidate, dtype: object

In [43]:
#  2) complete list of candidates who received votes
election_df["Candidate"].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [44]:
# 2) complete list of candidates who received votes
unique = election_df["Candidate"].unique()
unique

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [45]:
# Using GroupBy in order to separate the data into fields according to "Candidate" 
grouped_election_df =election_df.groupby(["Candidate"])

# The object returned is a "GroupBy" object and cannot be viewed normally...
#print(grouped_election_df)
# In order to be visualized, a data function must be used...
grouped_election_df.head(1)

    Voter ID County Candidate
0   12864552  Marsh      Khan
1   17444633  Marsh    Correy
5   19014606  Marsh        Li
46  18121503  Bamoo  O'Tooley

In [46]:
# Using GroupBy in order to separate the data into fields according to "Candidate" 
grouped_election_df=election_df.groupby(["Voter ID"])[["Candidate"]]

# The object returned is a "GroupBy" object and cannot be viewed normally...
#print(grouped_election_df)
# In order to be visualized, a data function must be used...
grouped_election_df.head(0)

Empty DataFrame
Columns: [Candidate]
Index: []

In [47]:
# Finding how many voters each candidates won
count=election_df["Candidate"].value_counts()
count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [23]:
my_stat = ['sum','percentage']
grouped_election_df=election_df.groupby(["Voter ID"])[["Candidate"]].agg(functions)
print(my_stat)
# The object returned is a "GroupBy" object and cannot be viewed normally...
#print(grouped_election_df)
# In order to be visualized, a data function must be used...
#grouped_election_df.head()
# 3) percentage of votes each candidate won
    #  % = total number of votes each candidate won / TotalVote casted

NameError: name 'functions' is not defined

In [50]:
# 4) total number of votes each candidate won
    # aggregate voter ID by candidate 
election_df=pd.pivot_table(election_df, index=['Voter ID','Candidate'], aggfunc='count')
count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [24]:
# Finding how many voters each candidates won
count=election_df["Candidate"].value_counts()
count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [ ]:
# 5) winner of the election based on popular vote
    # filter/arrange list based on % won