In [1]:
# Import Dependencies
import pandas as pd
import time
from datetime import date
import calendar

In [2]:
# files to load and read
df1 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2014-citibike-tripdata.csv\201401-citibike-tripdata.csv")
df2 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2014-citibike-tripdata.csv\201402-citibike-tripdata.csv")
df3 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2014-citibike-tripdata.csv\201403-citibike-tripdata.csv")
df4 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2014-citibike-tripdata.csv\201404-citibike-tripdata.csv")
df5 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2014-citibike-tripdata.csv\201405-citibike-tripdata.csv")
df6 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2014-citibike-tripdata.csv\201406-citibike-tripdata.csv")
df7 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2014-citibike-tripdata.csv\201407-citibike-tripdata.csv")
df8 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2014-citibike-tripdata.csv\201408-citibike-tripdata.csv")
df9 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2014-citibike-tripdata.csv\201409-citibike-tripdata.csv")
df10 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2014-citibike-tripdata.csv\201410-citibike-tripdata.csv")
df11 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2014-citibike-tripdata.csv\201411-citibike-tripdata.csv")
df12 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2014-citibike-tripdata.csv\201412-citibike-tripdata.csv")
# df1.head()

In [3]:
# check all df columns, inorder to concatinate the same df

In [4]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [5]:
df2.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [6]:
df3.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [7]:
df4.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [8]:
df5.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [9]:
df6.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [10]:
df7.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [11]:
df8.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [12]:
df9.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [13]:
df10.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [14]:
df11.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [15]:
df12.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [17]:
# concatinate dfs by appending df rows 
citibike2014_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], sort=True)
# export final combine df to csv for analyses 
citibike2014_df.to_csv("citibike2014.csv")
citibike2014_df.head()

,bikeid,birthyear,endstationid,endstationlatitude,endstationlongitude,endstationname,gender,startstationid,startstationlatitude,startstationlongitude,startstationname,starttime,stoptime,tripduration,usertype
0,16379,1986,263,40.717290,-73.996375,Elizabeth St & Hester St,1,2009,40.711174,-73.996826,Catherine St & Monroe St,1/1/2014 0:00,1/1/2014 0:07,471,Subscriber
1,15611,1963,259,40.701221,-74.012342,South St & Whitehall St,1,536,40.741444,-73.975361,1 Ave & E 30 St,1/1/2014 0:00,1/1/2014 0:25,1494,Subscriber
2,16613,1991,2022,40.758491,-73.959206,E 59 St & Sutton Pl,1,228,40.754601,-73.971879,E 48 St & 3 Ave,1/1/2014 0:03,1/1/2014 0:11,464,Subscriber
3,15938,1989,526,40.747659,-73.984907,E 33 St & 5 Ave,1,519,40.751884,-73.977702,Pershing Square N,1/1/2014 0:05,1/1/2014 0:11,373,Subscriber
4,19830,1990,436,40.682166,-73.953990,Hancock St & Bedford Ave,1,83,40.683826,-73.976323,Atlantic Ave & Fort Greene Pl,1/1/2014 0:05,1/1/2014 0:16,660,Subscriber