In [1]:
# Import Dependencies
import pandas as pd

from pandas import DataFrame

In [2]:
# files to load and read
df1 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2018-citibike-tripdata.csv\201801-citibike-tripdata.csv")
df2 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2018-citibike-tripdata.csv\201802-citibike-tripdata.csv")
df3 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2018-citibike-tripdata.csv\201803-citibike-tripdata.csv")
df4 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2018-citibike-tripdata.csv\201804-citibike-tripdata.csv")
df5 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2018-citibike-tripdata.csv\201805-citibike-tripdata.csv")
df6 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2018-citibike-tripdata.csv\201806-citibike-tripdata.csv")
df7 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2018-citibike-tripdata.csv\201807-citibike-tripdata.csv")
df8 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2018-citibike-tripdata.csv\201808-citibike-tripdata.csv")
df9 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2018-citibike-tripdata.csv\201809-citibike-tripdata.csv")
df10 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2018-citibike-tripdata.csv\201810-citibike-tripdata.csv")
df11 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2018-citibike-tripdata.csv\201811-citibike-tripdata.csv")
df12 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2018-citibike-tripdata.csv\201812-citibike-tripdata.csv")
# df1.head()

In [3]:
# check all df columns, inorder to concatinate the same df

In [4]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [5]:
df2.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [6]:
df3.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [7]:
df4.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [8]:
df5.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [9]:
df6.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [10]:
df7.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [11]:
df8.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [12]:
df9.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [13]:
df10.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [14]:
df11.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [15]:
df12.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [17]:
# concatinate dfs by appending df rows 
citibike2018_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], sort=True)
# export final combine df to csv for analyses 
citibike2018_df.to_csv("citibike2018.csv")
citibike2018_df.head()

,bikeid,birthyear,endstationid,endstationlatitude,endstationlongitude,endstationname,gender,startstationid,startstationlatitude,startstationlongitude,startstationname,starttime,stoptime,tripduration,usertype
0,31956,1992,505.0,40.749013,-73.988484,6 Ave & W 33 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,1/1/2018 13:50,1/1/2018 14:07,970,Subscriber
1,32536,1969,3255.0,40.750585,-73.994685,8 Ave & W 31 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,1/1/2018 15:33,1/1/2018 15:45,723,Subscriber
2,16069,1956,525.0,40.755942,-74.002116,W 34 St & 11 Ave,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,1/1/2018 15:39,1/1/2018 15:47,496,Subscriber
3,31781,1974,447.0,40.763707,-73.985162,8 Ave & W 52 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,1/1/2018 15:40,1/1/2018 15:45,306,Subscriber
4,30319,1992,3356.0,40.774667,-73.984706,Amsterdam Ave & W 66 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,1/1/2018 18:14,1/1/2018 18:19,306,Subscriber