In [1]:
# Import Dependencies
import pandas as pd
import time
from datetime import date
import calendar

In [2]:
# files to load and read
df1 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2015-citibike-tripdata.csv\201501-citibike-tripdata.csv")
df2 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2015-citibike-tripdata.csv\201502-citibike-tripdata.csv")
df3 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2015-citibike-tripdata.csv\201503-citibike-tripdata.csv")
df4 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2015-citibike-tripdata.csv\201504-citibike-tripdata.csv")
df5 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2015-citibike-tripdata.csv\201505-citibike-tripdata.csv")
df6 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2015-citibike-tripdata.csv\201506-citibike-tripdata.csv")
df7 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2015-citibike-tripdata.csv\201507-citibike-tripdata.csv")
df8 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2015-citibike-tripdata.csv\201508-citibike-tripdata.csv")
df9 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2015-citibike-tripdata.csv\201509-citibike-tripdata.csv")
df10 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2015-citibike-tripdata.csv\201510-citibike-tripdata.csv")
df11 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2015-citibike-tripdata.csv\201511-citibike-tripdata.csv")
df12 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2015-citibike-tripdata.csv\201512-citibike-tripdata.csv")
# df1.head()

In [3]:
# check all df columns, inorder to concatinate the same df

In [4]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [5]:
df2.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [6]:
df3.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [7]:
df4.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [8]:
df5.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [9]:
df6.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [10]:
df7.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [11]:
df8.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [12]:
df9.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [13]:
df10.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [14]:
df11.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [15]:
df12.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [17]:
# concatinate dfs by appending df rows 
citibike2015_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], sort=True)
# export final combine df to csv for analyses 
citibike2015_df.to_csv("citibike2015.csv")
citibike2015_df.head()

,bikeid,birthyear,endstationid,endstationlatitude,endstationlongitude,endstationname,gender,startstationid,startstationlatitude,startstationlongitude,startstationname,starttime,stoptime,tripduration,usertype
0,18660,1960.0,265,40.722293,-73.991475,Stanton St & Chrystie St,2,455,40.750020,-73.969053,1 Ave & E 44 St,1/1/2015 0:01,1/1/2015 0:24,1346,Subscriber
1,16085,1963.0,482,40.739355,-73.999318,W 15 St & 7 Ave,1,434,40.743174,-74.003664,9 Ave & W 18 St,1/1/2015 0:02,1/1/2015 0:08,363,Subscriber
2,20845,1974.0,505,40.749013,-73.988484,6 Ave & W 33 St,1,491,40.740964,-73.986022,E 24 St & Park Ave S,1/1/2015 0:04,1/1/2015 0:10,346,Subscriber
3,19610,1969.0,399,40.688515,-73.964763,Lafayette Ave & St James Pl,1,384,40.683178,-73.965964,Fulton St & Waverly Ave,1/1/2015 0:04,1/1/2015 0:07,182,Subscriber
4,20197,1977.0,432,40.726218,-73.983799,E 7 St & Avenue A,1,474,40.745168,-73.986831,5 Ave & E 29 St,1/1/2015 0:05,1/1/2015 0:21,969,Subscriber