In [13]:
# Import Dependencies
import pandas as pd
from pandas import DataFrame

In [14]:
# files to load and read
df1 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2019-citibike-tripdata.csv\201901-citibike-tripdata.csv")
df2 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2019-citibike-tripdata.csv\201902-citibike-tripdata.csv")
df3 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2019-citibike-tripdata.csv\201903-citibike-tripdata.csv")
df4 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2019-citibike-tripdata.csv\201904-citibike-tripdata.csv")
df5 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2019-citibike-tripdata.csv\201905-citibike-tripdata.csv")
df6 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2019-citibike-tripdata.csv\201906-citibike-tripdata.csv")
df7 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2019-citibike-tripdata.csv\201907-citibike-tripdata.csv")
df8 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2019-citibike-tripdata.csv\201908-citibike-tripdata.csv")
df9 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2019-citibike-tripdata.csv\201909-citibike-tripdata.csv")

# df1.head()

In [15]:
# check all df columns, inorder to concatinate the same df

In [16]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [17]:
df2.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [18]:
df3.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [19]:
df4.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [20]:
df5.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [21]:
df6.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [22]:
df7.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [23]:
df8.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [24]:
# concatinate dfs by appending df rows 
citibike2019_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9], sort=True)
# export final combine df to csv for analyses 
citibike2019_df.to_csv("citibike2019.csv")
citibike2019_df.head()

,bikeid,birthyear,endstationid,endstationlatitude,endstationlongitude,endstationname,gender,startstationid,startstationlatitude,startstationlongitude,startstationname,starttime,stoptime,tripduration,usertype
0,15839,1971,3283.0,40.788221,-73.970416,W 89 St & Columbus Ave,1,3160.0,40.778968,-73.973747,Central Park West & W 76 St,1/1/2019 0:01,1/1/2019 0:07,320,Subscriber
1,32723,1964,518.0,40.747804,-73.973442,E 39 St & 2 Ave,1,519.0,40.751873,-73.977706,Pershing Square North,1/1/2019 0:04,1/1/2019 0:10,316,Subscriber
2,27451,1987,3154.0,40.773142,-73.958562,E 77 St & 3 Ave,1,3171.0,40.785247,-73.976673,Amsterdam Ave & W 82 St,1/1/2019 0:06,1/1/2019 0:15,591,Subscriber
3,21579,1990,3709.0,40.738046,-73.996430,W 15 St & 6 Ave,1,504.0,40.732219,-73.981656,1 Ave & E 16 St,1/1/2019 0:07,1/1/2019 0:52,2719,Subscriber
4,35379,1979,503.0,40.738274,-73.987520,E 20 St & Park Ave,1,229.0,40.727434,-73.993790,Great Jones St,1/1/2019 0:07,1/1/2019 0:12,303,Subscriber