In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

from datetime import date

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame

In [3]:
# files to load and read

df6 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2013-citibike-tripdata.csv\201306-citibike-tripdata.csv")
df7 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2013-citibike-tripdata.csv\201307-citibike-tripdata.csv")
df8 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2013-citibike-tripdata.csv\201308-citibike-tripdata.csv")
df9 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2013-citibike-tripdata.csv\201309-citibike-tripdata.csv")
df10 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2013-citibike-tripdata.csv\201310-citibike-tripdata.csv")
df11 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2013-citibike-tripdata.csv\201311-citibike-tripdata.csv")
df12 = pd.read_csv(r"C:\Users\emame\Desktop\Tableau_Homework\JC-2013-citibike-tripdata.csv\201312-citibike-tripdata.csv")

# df1.head()

In [4]:
df6.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [5]:
df7.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [6]:
df8.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [7]:
df9.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [8]:
df10.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [9]:
df11.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [10]:
df12.columns

Index(['tripduration', 'starttime', 'stoptime', 'startstationid',
       'startstationname', 'startstationlatitude', 'startstationlongitude',
       'endstationid', 'endstationname', 'endstationlatitude',
       'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [12]:
# concatinate dfs by appending df rows 
citibike2013_df = pd.concat([df6, df7, df8, df9, df10, df11, df12], sort=True)
# export final combine df to csv for analyses 
citibike2013_df.to_csv("citibike2013.csv")
citibike2013_df.head()

,bikeid,birthyear,endstationid,endstationlatitude,endstationlongitude,endstationname,gender,startstationid,startstationlatitude,startstationlongitude,startstationname,starttime,stoptime,tripduration,usertype
0,19678,1983,434.0,40.743174,-74.003664,9 Ave & W 18 St,1,444,40.742354,-73.989151,Broadway & W 24 St,6/1/2013 0:00,6/1/2013 0:11,695,Subscriber
1,16649,1984,434.0,40.743174,-74.003664,9 Ave & W 18 St,1,444,40.742354,-73.989151,Broadway & W 24 St,6/1/2013 0:00,6/1/2013 0:11,693,Subscriber
2,19599,NaN,406.0,40.695128,-73.995951,Hicks St & Montague St,0,406,40.695128,-73.995951,Hicks St & Montague St,6/1/2013 0:00,6/1/2013 0:35,2059,Customer
3,16352,1960,262.0,40.691782,-73.973730,Washington Park,1,475,40.735243,-73.987586,E 15 St & Irving Pl,6/1/2013 0:01,6/1/2013 0:03,123,Subscriber
4,15567,1983,310.0,40.689269,-73.989129,State St & Smith St,1,2008,40.705693,-74.016777,Little West St & 1 Pl,6/1/2013 0:01,6/1/2013 0:26,1521,Subscriber