In [23]:
# Import Dependencies
import os
import csv
import pandas as pd
import random
import numpy as np

In [24]:
# Create reference to CSV file
PyBank = "budget_data.csv"
print(PyBank)

budget_data.csv

In [28]:
# Import the budget_data into a pandas DataFrame
budget_data_df = pd.read_csv(PyBank)
budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [ ]:
# split column to get count of months

In [ ]:
# rename colunms

In [21]:
# 1) compute total number of months included in the dataset
count = budget_data_df["Date"].value_counts()
count.head()

Nov-2012    1
Oct-2014    1
Apr-2015    1
Sep-2010    1
Jun-2015    1
Name: Date, dtype: int64

In [15]:
# 2) The net total amount of "Profit/Losses" over the entire period

Total = budget_data_df["Profit/Losses"].sum()
print(Total)

38382578

In [ ]:
# 3)The average of the changes in "Profit/Losses" over the entire period

In [ ]:
# 4) The greatest increase in profits (date and amount) over the entire period

In [ ]:
# 5) The greatest decrease in losses (date and amount) over the entire period