In [1]:
# Import Dependencies
import os
import csv
import pandas as pd

In [2]:
# Create reference to CSV file
PyBank = "budget_data.csv"
print(PyBank)

budget_data.csv

In [3]:
# Import the budget_data into a pandas DataFrame
budget_data_df = pd.read_csv(PyBank)
budget_data_df.head(3)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013

In [4]:
# find out number of rows and colunms in budget data csv file after split of "Date" (header excluded)
budget_data_df.shape

(86, 2)

In [5]:
# split column to get count of months 
# 1) create new df single column
new_df_no_expand=budget_data_df['Date'].str.split('-')
new_df_no_expand.head(3)

0    [Jan, 2010]
1    [Feb, 2010]
2    [Mar, 2010]
Name: Date, dtype: object

In [6]:
# 2) expand to new columns
new_df=budget_data_df['Date'].str.split('-', expand=True)
new_df.head(3)

     0     1
0  Jan  2010
1  Feb  2010
2  Mar  2010

In [7]:
# 3) add new column to old dataframe
budget_data_df[['mm','year']]=budget_data_df['Date'].str.split('-', expand=True)
budget_data_df.head()

       Date  Profit/Losses   mm  year
0  Jan-2010         867884  Jan  2010
1  Feb-2010         984655  Feb  2010
2  Mar-2010         322013  Mar  2010
3  Apr-2010         -69417  Apr  2010
4  May-2010         310503  May  2010

In [8]:
# 1) compute total number of months included in the dataset
Count = budget_data_df["mm"].value_counts()
print(Count)

Feb    8
Jan    8
Apr    7
Oct    7
Dec    7
Aug    7
Mar    7
Jun    7
Jul    7
May    7
Nov    7
Sep    7
Name: mm, dtype: int64

In [9]:
# 1) count total number of months included in the dataset, describe to get summary of count of months
budget_data_df["mm"].describe()

count      86
unique     12
top       Feb
freq        8
Name: mm, dtype: object

In [10]:
# 2) The net total amount of "Profit/Losses" over the entire period
Total = budget_data_df["Profit/Losses"].sum()
print(Total)

38382578

In [11]:
# List all the columns the table provides
budget_data_df.columns

Index(['Date', 'Profit/Losses', 'mm', 'year'], dtype='object')

In [22]:
# 3)The average of the changes in "Profit/Losses" over the entire period
# average of the changes in "Profit/Losses" = difference of this month from last month. PL=Profit/Losses
rows_number = budget_data_df.shape[0]
change_list = []
PL_thismonth = 0
for index in range(1, rows_number):
    PL_thismonth = budget_data_df.iloc[0]['Profit/Losses']
    PL_lastmonth = budget_data_df.iloc[+1]['Profit/Losses']
    difference = PL_thismonth - PL_lastmonth
    change_list.append(difference)
    
    
print(change_list)

AttributeError: 'DataFrame' object has no attribute 'budget'

In [13]:
# 4) The greatest increase in profits (date and amount) over the entire period

In [14]:
# 5) The greatest decrease in losses (date and amount) over the entire period